body {
  background-color: #222;
  color: #fff;
  margin: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #333;
  padding-top: 70px;
  z-index: 1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  text-align: center;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  transition: font-weight 0.3s;
}

.sidebar a:hover {
  font-weight: bold;
}

.task-manager-header {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  z-index: 2;
}

.navbar .nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar .nav-link:hover {
  color: #aaa;
}

.navbar {
  background-color: #333;
  z-index: 3;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-brand a:hover {
  color: #aaa;
}

.navbar-brand .nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar-brand .nav-link:hover {
  color: #aaa;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 24px;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-brand a:hover {
  color: #aaa;
}

.task-categories {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.task-categories li {
  padding: 10px;
  text-align: center;
}

.task-categories li a {
  color: #fff;
  text-decoration: none;
}

.task-categories li a:hover {
  font-weight: bold;
}
